.logo-1-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 24px;
    object-fit: cover;
  }
  
  .edulife-all-rights,
  .links,
  .lorem-vitae-ut {
    position: absolute;
    left: 0;
    letter-spacing: 0.02em;
  }
  
  .lorem-vitae-ut {
    top: 52px;
    display: inline-block;
    width: 423px;
    height: 67px;
  }
  
  .edulife-all-rights,
  .links {
    top: 160px;
  }
  
  .links {
    top: 3px;
    left: 634px;
  }
  
  .elementum-purus-et,
  .iaculis-tristique,
  .lorem-vitae-ut1 {
    position: absolute;
    top: 52px;
    left: 634px;
    letter-spacing: 0.02em;
  }
  
  .elementum-purus-et,
  .iaculis-tristique {
    top: 98px;
  }
  
  .iaculis-tristique {
    top: 139px;
  }
  
  .contact-us,
  .lorem-vitae-ut2 {
    left: 981px;
    letter-spacing: 0.02em;
  }
  
  .contact-us {
    position: absolute;
    top: 3px;
  }
  
  .lorem-vitae-ut2 {
    top: 52px;
  }
  
  .div,
  .footer,
  .lorem-vitae-ut2 {
    position: absolute;
  }
  
  .div {
    top: 98px;
    left: 981px;
    letter-spacing: 0.02em;
  }
  
  .footer {
    top: 3931px;
    left: 104px;
    width: 1198px;
    height: 181px;
    text-align: left;
    color: black;
    font-family: sans-serif;
    background-color:transparent;
  } 