
.search .search-button{
    height: 30px;
    width: 29px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQP_9G3IQ5hCaEvnl6gFKHH2bwdyZW_Q2ss9g&usqp=CAU");
    background-size: 27px;
}
.input{
    width:500px;
    font-size: large;
}
